
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* logo */
.logo {
    height: 30px;
    margin-left: 20px;
}

/* font */
.h2-custom {
    font-size: 1.5rem;
}

.header-image {
    padding-top: 200px;
    padding-bottom: 300px;
    background-color: #dde3e9;
    background-image: url('./homepage/header.jpg'); /* separated the properties */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.container-body {
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas: 
    "heading heading heading"
    "intro-text intro-text image-slide";
}

    .heading {
    grid-area: heading;
    }
  
    .intro-text {
    grid-area: intro-text;
    color: #333;
    }
  
    .image-slide {
    grid-area: image-slide;
    }

/* homepage section  */
.section-block{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f1f8;
}

.section-content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

.section-content img {
    margin-top: -100px;
    width: 800px;
    height: auto; 
}

.footer-content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e9f1f8;
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.about-image {
    padding-top: 90px;
    padding-bottom: 200px;
    background-color: #dde3e9;
    background-image: url('./homepage/istock-21312ddf.jpg'); /* separated the properties */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* dashboard */
.content-wrapper {
    display: flex;
}

.dashboard-container {
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
}

.dashboard-block {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f1f8;
    margin: 0;
}

.greeting {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-right: 800px;
    margin-left: 100px;
}

.greeting span {
    font-weight: bold;
    font-size: 30px;
}

.profile-link-p {
    display: flex;
}

.profile-link {
    text-decoration: none;
    margin-bottom: 20px;
    color: #007bff; 
    font-weight: bold;
    padding: 5px 10px; 
    border: 1px solid #007bff; 
    border-radius: 5px; 
    margin-left: auto; 
}

.da-small-block {
    width: 500px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .flip-card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 386.66px;
    margin-top: 50px;
    margin-bottom: 100px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* for the flip effect text */
  }
  
  /* horizontal flip */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

/* news */
.news-link {
    font-size: inherit;
}

/* calendar timetbale and booking */
td {
    vertical-align: top;
    width: calc(100% / {{ dates|length }} - 2px);
}

.class-container {
    border: 1px solid #dee2e6;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.class-container > .timetable__content-title {
    font-size: 12px;
    font-weight: bold;
}

.class-container > .timetable__flex--start,
.class-container > .btn,
.class-container > .timetable__content-space,
.class-container > progress,
.class-container > div {
    font-size: 12px;
    padding: 3px 8px;
}

.class-container > .timetable__flex--start:nth-child(3) {
    font-weight: bold;
    color: green;
}
td span {
    color: #ccc; 
}

.table th, .table td {
/* border: 1px solid #8d8d8d; */
padding: 8px;
text-align: center;
}

    .table th {
    background-color: #428bca !important;
    color: white !important;
    }

    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }
    
    .class-container {
        border: 1px solid #dee2e6;
        padding: 8px;
        margin-bottom: 5px;
        background-color: #f8f9fa;
    }
    
    .timetable__content-space {
        width: 100%;
        height: 5px;
        appearance: none;
    }

/* profile */
.p-container-fluid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 2fr;  /* Adjust 250px based on the width of your sidebar */
    width: 100%;
    margin-left: -100px;
}
.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .card-header:first-child {
    border-radius: 1rem 1rem 0 0;
    }
    .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: #428bca !important;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.img-profile {
    max-width: 50%;
    height: auto;
    padding: 10px;
}

/* dashboard side bar */
  .sidebar {
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 240px;
    z-index: 600;
    background-color: rgb(84, 121, 175);
  }
@media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }

    .list-group-item.list-group-item-action {
        background-color: rgb(84, 121, 175) !important;
        color: rgb(255, 255, 255) !important;
    }
    
    .list-group-item.list-group-item-action:hover {
        background-color: rgb(64, 101, 155) !important;  /* Slightly darker blue when hovered */
    }

    .list-group-item.list-group-item-action:active {
        background-color: rgb(44, 81, 135) !important;  /* Even darker blue when clicked */
    }

    /* dashboard adjustment */
    .grid-container {
        display: grid;
        grid-template-columns: 250px 1fr;  /* Adjust 250px based on the width of your sidebar */
        width: 100%;
    }
    .custom-bg {
        background-color: #e9f1f8; 
    }
    .d-container-fluid {
        min-height: 100vh;
    }

/* news */
/* Cards */
.newscard {
    display: flex;
    flex-direction: row;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #000000;
    background-color: white;
      
    a {
        color: inherit;
    }
    .small {
        font-size: 80%;
    }
  
    .newscard_title {
        font-size: 1.75rem;
    }
  
    .newscard_img {
        flex: 1;
        height: 200px;
        width: 200px;
        object-fit: cover;
        position: relative;
    }
  
    .newscard_img_link {
        display: contents;
    }
  
    .newscard_text {
        flex: 2;
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }
  
    .newscard_preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }

        &:hover {
            background: rgba(255, 255, 255, 0.8);
        }
    }
}

/* COLORS */
.newscard .blue:hover {
	background: #0076bd;
}
.blue .newscard_title:hover {
	color: #0076bd;
}

.modal-content {
    background-color: #000 !important;
}

.cancelled-class {
    background-color: #f8d7da; 
    color: red;
}
.no-space-class {
    background-color: #e2e3e5; 
    color: #838383; 
}
.open-class {
    background-color: #d1e7dd; 
    color: #0f5132; 
}
.class-container {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
}

body {
    margin: 20px;
  }

.page-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  min-height: 100vh; 
}

/* input */
.custom-input {
    max-width: 100px;
}

