
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-image {
    padding-top: 200px;
    padding-bottom: 300px;
    background-color: #dde3e9;
    background-image: url('./homepage/header.jpg'); /* separated the properties */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.container-body {
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
    grid-template-areas: 
    "heading heading heading"
    "intro-text intro-text image-slide";
}

    .heading {
    grid-area: heading;
    }
  
    .intro-text {
    grid-area: intro-text;
    color: #333;
    }
  
    .image-slide {
    grid-area: image-slide;
    }

/* homepage section  */
.section-block{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f1f8;
}

.section-content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

.section-content img {
    margin-top: -100px;
    width: 800px;
    height: auto; 
}

.footer-content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e9f1f8;
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.about-image {
    padding-top: 90px;
    padding-bottom: 200px;
    background-color: #dde3e9;
    background-image: url('./homepage/istock-21312ddf.jpg'); /* separated the properties */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* dashboard */
.dashboard-container {
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
}

.dashboard-block {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f1f8;
}

.greeting {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: -50px;
    text-align: center;
}

.greeting span {
    font-weight: bold;
    font-size: 30px;
}

.profile-link-p {
    display: flex;
}

.profile-link {
    text-decoration: none;
    margin-bottom: 20px;
    color: #007bff; /* Example color */
    font-weight: bold; /* Example font weight */
    padding: 5px 10px; /* Example padding */
    border: 1px solid #007bff; /* Example border */
    border-radius: 5px; /* Example border radius for a button-like appearance */
    margin-left: auto; /* Pushes the profile link to the right within the flex container */
}

.da-small-block {
    max-width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.management-buttons {
    max-width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.btn-group-vertical > .btn {
    margin-bottom: 10px; /* Space between buttons */
}

.btn-group-vertical > .btn {
    width: 200px; 
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.da-large-block {
    flex-grow: 1;
    max-width: 1400px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.da-large-block h2, .da-small-block h2, .management-buttons h2 {
    border-bottom: 2px solid #bfc0c2;
    padding-bottom: 5px;
    color: #333;
}

.da-ul {
    list-style-type: none;
    padding: 0;
}

.da-li {
    background-color: #e7f1ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* .timetable */
.timetable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
  }
  .timetable th, .timetable td {
    border: 1px solid #8d8d8d;
    padding: 8px;
    text-align: center;
  }
  .timetable th {
    background-color: #1d4068;
    color: white;
  }

/* .flip-card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 386.66px;
    margin-top: 50px;
    margin-bottom: 100px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* for the flip effect text */
  }
  
  /* horizontal flip */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }