{% extends 'base.html' %}

{% block title %}Manage Class{% endblock %}

{% block content %}
<div class="grid-container custom-bg">
    <div class="sidebar-position">
        {% include 'dashboard_sidebar_template/manager_sidebar.html' %}
    </div>
    <div class="d-container-fluid container mt-5 mb-5">
        <div class="h2-custom mb-4">Manage Aerobics Classes</div>
        <form method="POST">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ class_info.datetime.strftime('%Y-%m-%d') }}">
            </div>
            <div class="form-group">
                <label for="time_slot">Time Slot:</label>
                <select id="time_slot" name="time_slot" class="form-control">
                    {% for slot in available_timeslots %}
                    <option value="{{ slot }}">{{ slot }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="instructor_id">Instructor:</label>
                <select id="instructor_id" name="instructor_id" class="form-control">
                    {% for instructor in available_instructors %}
                    <option value="{{ instructor.id }}">{{ instructor.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update Class</button>
        </form>
    </div>
</div>
{% endblock %}
