<nav id="sidebarmenu" class="collapse d-lg-block sidebar collapse">
    <div class="position-sticky">
        <div class="mx-3 mt-5 mb-3 text-center">
            <img src="{{ url_for('static', filename='manager/' + manager_info.image_profile) }}" alt="image_profile" 
            width="100" height="100" class="rounded-circle">
            <h5 class="mt-3 text-white">{{ manager_info.first_name | capitalize }} {{ manager_info.last_name | capitalize }}</h5>
        </div>

        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="{{ url_for('home_swimming_class') }}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                <i class="bi bi-book me-2"></i>
                <span class="ms-1 d-none d-sm-inline">Aqua Aerobics Timetable</span>
            </a>

            <!-- New Link for Review Classes -->
            <a href="{{ url_for('review_class') }}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                <i class="bi bi-calendar3 me-2"></i>
                <span class="ms-1 d-none d-sm-inline">Manage Aqua Aerobics Classes</span>
            </a>

            <a href="{{ url_for('edit_class') }}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-pencil-square me-2"></i>  <!-- Using a pencil icon for edit -->
                <span class="ms-1 d-none d-sm-inline">Edit Class</span>
            </a>

            <a href="{{ url_for('monthly_class_report') }}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center ">
                <i class="bi bi-graph-up me-2"></i>
                <span class="ms-1 d-none d-sm-inline">Popularity Aqua Aerobics Class Report</span>
            
            <a href="{{ url_for('financial_report') }}" class="list-group-item list-group-item-action py-2 ripple d-flex align-items-center">
                <i class="bi bi-graph-up me-2"></i>
                <span class="ms-1 d-none d-sm-inline">Financial Report</span>
                
            <a href="{{ url_for('manage_profile') }}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="bi bi-person"></i>
                <span class="ms-1 d-none d-sm-inline">My Profile</span>
            </a>
        </div>
    </div>
</nav>