{% extends 'base.html' %}

<!-- added block title -->
{% block title %}Change Password{% endblock %} 

{% block content %}
<div class="text-black custom-bg">
    <div class="row">
        <div class="col-12">
            <div class="container h2-custom mt-5 mb-5 text-black">Change Password</div>
                {% if session['UserType'] == 'member' %}
                <div class="grid-container">
                    <div class="sidebar-position">
                        {% include 'dashboard_sidebar_template/member_sidebar.html' %}
                    </div>
                    <div class="p-container-fluid">
                        <hr class="mt-0 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <!-- Profile picture card-->
                                <div class="card mb-4 mb-xl-0">
                                    <div class="card-header text-light">Password</div>
                                    <div class="card-body">
                                        <form method="post" action="{{ url_for('change_password') }}">
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">Old Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="old_Password" name="old_Password" placeholder="Plese enter your Current Password*" required>
                                            </div>
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">New Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="new_Password" name="new_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Plese enter your New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                            </div>
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="confirm_Password" name="confirm_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Plese enter your Confirm New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                            </div>
                                            <div class="mb-3 mt-5 col-md-8">
                                                <div class="col-sm-8">
                                                    <a href="{{ url_for('manage_profile') }}" class="btn btn-secondary">Cancel</a>
                                                    <button type="submit" class="col-sm-6 btn btn-danger">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if session['UserType'] == 'instructor' %}
                <div class="grid-container">
                    <div class="sidebar-position">
                        {% include 'dashboard_sidebar_template/instructor_sidebar.html' %}
                    </div>
                    <div class="p-container-fluid">
                        <hr class="mt-0 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <!-- Profile picture card-->
                                <div class="card mb-4 mb-xl-0">
                                    <div class="card-header text-light">Password</div>
                                    <div class="card-body">
                                        <form method="post" action="{{ url_for('change_password') }}">
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">Old Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="old_Password" name="old_Password" placeholder="Plese enter your Current Password*" required>
                                            </div>
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">New Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="new_Password" name="new_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Plese enter your New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                            </div>
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="confirm_Password" name="confirm_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Plese enter your Confirm New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                            </div>
                                            <div class="mb-3 mt-5 col-md-8">
                                                <div class="col-sm-8">
                                                    <a href="{{ url_for('manage_profile') }}" class="btn btn-secondary">Cancel</a>
                                                    <button type="submit" class="col-sm-6 btn btn-danger">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if session['UserType'] == 'manager' %}
                <div class="grid-container">
                    <div class="sidebar-position">
                        {% include 'dashboard_sidebar_template/manager_sidebar.html' %}
                    </div>
                    <div class="p-container-fluid">
                        <hr class="mt-0 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <!-- Profile picture card-->
                                <div class="card mb-4 mb-xl-0">
                                    <div class="card-header text-light">Password</div>
                                    <div class="card-body">
                                        <form method="post" action="{{ url_for('change_password') }}">
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">Old Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="old_Password" name="old_Password" placeholder="Plese enter your Current Password*" required>
                                            </div>
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">New Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="new_Password" name="new_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Plese enter your New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                            </div>
                                            <div class="mb-3 col-md-8">
                                                <label for="First_name" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control text-black custom-placeholder" id="confirm_Password" name="confirm_Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Plese enter your Confirm New Password*" required title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                            </div>
                                            <div class="mb-3 mt-5 col-md-8">
                                                <div class="col-sm-8">
                                                    <a href="{{ url_for('manage_profile') }}" class="btn btn-secondary">Cancel</a>
                                                    <button type="submit" class="col-sm-6 btn btn-danger">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
