{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block content %}
<div class="text-black custom-bg">
    <div class="row">
        <div class="col-12">
            <!-- Check if user type is either member or instructor -->
            {% if session['UserType'] in ['member', 'instructor'] %}
                <div class="grid-container">
                    <div class="sidebar-position">
                        <!-- Check if user type is member -->
                        {% if session['UserType'] == 'member' %}
                            <!-- Include member sidebar -->
                            {% include 'dashboard_sidebar_template/member_sidebar.html' %}
                        <!-- Check if user type is instructor -->
                        {% elif session['UserType'] == 'instructor' %}
                            <!-- Include instructor sidebar -->
                            {% include 'dashboard_sidebar_template/instructor_sidebar.html' %}
                        {% endif %}
                    </div>
                    <div class="container mt-5 mb-5 text-black" style="min-height: 100vh;">
                        <img src="{{ url_for('static', filename='news/' + news_info.image) }}" 
                        alt="{{ news_info.title }}" style="width: 800px; height: 500px;">
                            <div class="mt-5 mb-5">
                                <h1>{{ news_info.title | title }}</h1>
                                <p><em>Published on {{ news_info.publication_date | formatdate }}</em></p>
                                <br>
                                {% for paragraph in news_info.content.replace('•', '').split('.') %}
                                    <p>{{ paragraph }}</p>
                                    <p></p>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}