{% extends 'base.html' %}

{% block title %}About Us - Countryside Community Swimming Club{% endblock %}

{% block content %}

<!-- Fixed Header Image -->
<div class="about-image d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>A SWIM CLUB THAT COMES TO YOU</h1>
      <p>THE BEST PLACE FOR FUN AND PLAY</p>
    </div>
  </div>

  <!-- Introduction and Carousel -->
<div class="container mt-4">
    <!-- Introduction -->
    <div class="row">
      <div class="container-body col-lg-12">
        <div class="heading text-black">
          <h2>Contact Us</h2>
        </div>
        <div class="intro-text">
            <p>Please feel free to contact us!</p>
            <p>Email: communityswimmingclub@123.com</p>
            <p>Phone: 123-456-7890</p>
            <p>Our opening hour is 7 days, 6 AM to 8 PM, exception of Christmas Day and Boxing Day.</p>
        </div>
            <img src="{{ url_for('static', filename='homepage/istock-157732856_web.jpg') }}" class="d-block w-100 image-slide" alt="Slide 1">
        </div>

        <div class="heading text-black mt-5">
          <h2>Refund Policy</h2>
          <div id="refund">
        </div>
        <div class="intro-text text-black mt-3">
          <p>Our refund policy is as follows:</p>
          <p>For Annual Memberships:</p>
          <p>- If you cancel within 90 days of the start date, there will be no refund, and the membership will be valid for 90 days from the start date.</p>
          <p>- If you cancel after 90 days but within 180 days of the start date, a refund of $100 will be issued, and the membership will be valid for 180 days from the start date.</p>
          <p>- If you cancel after 180 days of the start date, there will be no refund, and the membership will be valid for one year from the start date.</p>
          <p>For Other Membership Types:</p>
          <p>- Refunds are not available for Monthly and 6 Months membership types.</p>
          <p>*Please note that all refunds are subject to the terms and conditions outlined in our membership agreement.</p>
        </div>
    </div>
</div>
</div>


{% include 'homepage/footer.html' %}
{% endblock %}
