{% extends 'base.html' %}

{% block title %}About Us - Countryside Community Swimming Club{% endblock %}

{% block content %}

<!-- Fixed Header Image -->
<div class="about-image d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>A SWIM CLUB THAT COMES TO YOU</h1>
      <p>THE BEST PLACE FOR FUN AND PLAY</p>
    </div>
</div>

<!-- Introduction and Carousel -->
<div class="container mt-4">
    <!-- Introduction -->
    <div class="row">
      <div class="container-body col-lg-12">
        <div class="heading text-black">
          <h2>Contact Us</h2>
        </div>
        <div class="intro-text">
            <p>Please feel free to contact us!</p>
            <p>Email: communityswimmingclub@123.com</p>
            <p>Phone: 123-456-7890</p>
            <p>Our opening hour is 7 days, 6 AM to 8 PM, exception of Christmas Day and Boxing Day.</p>
        </div>
            <img src="{{ url_for('static', filename='homepage/istock-157732856_web.jpg') }}" class="d-block w-100 image-slide" alt="Slide 1">
        </div>

        <div class="heading text-black mt-5">
          <h2>Refund Policy</h2>
          <div id="refund">
        </div>
        <!-- Refund policy section -->
        <div class="intro-text text-black mt-3">
          <p>Our refund policy is as follows:</p>
          <p><strong>Annual Membership:</strong><br> 
          If you cancel within the first 90 days of your membership, you will not receive a refund, and your membership will end 90 days from your start date.</p>

          <p>If you cancel within the first 180 days but after the first 90 days, you will receive a $100 refund, and your membership will end 180 days from your start date.</p>

          <p>If you cancel after the first 180 days, you will not receive a refund, and your membership will end 365 days from your start date.</p>

          <p><strong>6-Month Membership:</strong><br> 
          If you cancel your 6-month membership, you will not receive a refund, and your membership will end 180 days from your start date.</p>

          <p><strong>Monthly Membership:</strong><br> 
          If you cancel your monthly membership, you will not receive a refund, and your membership will end 30 days from your start date.</p>

          <p>*Please note that all refunds are subject to the terms and conditions outlined in our membership agreement.</p>
        </div>
    </div>
</div>
</div>


{% include 'homepage/footer.html' %}
{% endblock %}
