<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<style>
body {
    background-color: var(--page-colour);
    /* color: white; */
}
/* nav bar */
.navbar {
    width: 100%;
    background-color: #005eb8;
    overflow: hidden;
}
#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 4px 8px;
}
.navbar-brand img {
    max-width: 60px;
}
.nav-link {
    color: white !important;
}
/* hover effect nav */
.nav-link:hover {
    color: var(--page-color-hover) !important;
}
/* sticky nav bar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.container-fluid, .row {
    background-color: var(--page-colour);
    color: white;
    padding: 0;
}
/* .custom-carousel img {
    border-radius: 10px;
} */
/* login-style */
.btn-login {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn-login a {
    color: #00e1ff;
    text-decoration: none;
    font-weight: bold;
}
.login-container {
    text-align: right;
}
.login-container a {
    color: white;
}
.login-container p {
    color: #ced4da;
}
.login-container .btn-login {
    margin-top: 10px;
}
.welcome-message {
    position: absolute;
    top: 10px;
    right: 140px;
    font-size: 16px;
    color: white;
}
/* .guide-text {
    background-color: var(--page-colour);
    padding: 10px;
    margin-top: 20px;
    color: white;
}
.guide-link {
    font-size: 20px;
    color: #005eb8;
} */
/* .marine-content {
    display: flex;
    align-items: center;
} */
/* .marine-text {
    flex: 1;
    padding: 20px;
} */
.main-content {
    margin-left: 0;
}
/* .custom-carousel {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
}
.custom-carousel img {
    width: 100%;
    height: auto;
} */
/* .home-link {
    color: #2196F3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    right: 20px;
}
.home-link:hover {
    color: #0D47A1 !important;
} */
.modal-content {
    background-color: var(--page-colour);
    color: white;
    border: none;
}
.modal-header {
    border-bottom: none;
}
.custom-placeholder::placeholder {
    color: #000000;
}
.btn-danger {
    background-color: #005eb8;
    border: none;
}
#loginModal .modal-content,
#loginForm,
#joinForm {
    text-align: center;
    
}
#joinForm {
    display: none;
}
    :root {
        --page-color-hover: rgba(255, 255, 255, 0.88);
    }
</style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='others/logo.png') }}" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="history.go(-1);">Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home_swimming_class') }}">Aerobics Class Timetable</a>                 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}#our_instructors">Instructors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_us') }}#refund">Refund Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                </li>
            </ul>
        </div>
        <!-- Login and Logout buttons -->
        <div class="btn-login ml-auto">
            {% if 'UserID' in session %}
                <div class="me-auto d-sm-inline d-md-inline d-lg-inline">
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-light me-2">
                        {{ Username }} Logout
                    </a>
                </div>
            {% endif %}
            {% if 'UserID' not in session %}
                <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#loginModal">Login</button>
            {% else %}
                {% if session['UserType'] == 'manager' %}
                    <a class="btn btn-outline-light" href="{{ url_for('dashboard_manager') }}">Dashboard</a>
                {% elif session['UserType'] == 'instructor' %}
                    <a class="btn btn-outline-light" href="{{ url_for('dashboard_instructor') }}">Dashboard</a>
                {% elif session['UserType'] == 'member' %}
                    <a class="btn btn-outline-light" href="{{ url_for('dashboard_member') }}">Dashboard</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
<!-- Main content -->
<main>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <div class="welcome-message"></div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</main>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-aside">
        <div class="modal-content bg-black text-light">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Login Form -->
                <div id="loginForm">
                    <form action="/login" method="post">
                        <div class="mb-3 ">
                            <input type="text" class="form-control custom-placeholder" id="Username" name="Username"
                                placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                            <input type="Password" class="form-control custom-placeholder" id="Password" name="Password"
                                placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-danger">SIGN IN</button>
                    </form>
                    <p class="mt-3">No account? <a href="#" class="text-danger" id="switchToJoin">Register here</a></p>
                </div>
                <!-- Registration Form -->
                <div id="joinForm" style="display: none;">
                    <form action="/register" method="post">
                        <div class="row justify-content-center">
                            <div class="modal-content bg-black text-light">
                                <div class="mb-3">
                                    <select class="form-control" id="title" name="title" required>
                                        <option value="" disabled selected>Please Select Your Title</option>
                                        <option value="Mr">Mr.</option>
                                        <option value="Mrs">Mrs.</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Dr">Dr.</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-placeholder" id="Username"
                                        name="Username" placeholder="Username*" required>
                                </div>
                                <div class="mb-3">
                                    <input type="Password" class="form-control custom-placeholder" id="Password"
                                        name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
                                        placeholder="Password*" required
                                        title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                </div>
                                <div class="mb-3">
                                    <input type="Password" class="form-control custom-placeholder"
                                        id="confirm_Password" name="confirm_Password"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" placeholder="Confirm Password*"
                                        required
                                        title="Password must be at least 8 characters long, including an uppercase letter, a lowercase letter, a number, and a special character.">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-placeholder" id="First_name"
                                        name="First_name" placeholder="First Name*" pattern="[A-Za-z]+" maxlength="50" required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-placeholder" id="Last_name"
                                        name="Last_name" placeholder="Last Name*" pattern="[A-Za-z]+" maxlength="50" required>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control custom-placeholder" id="email"
                                        name="email" maxlength="100" placeholder="Email">
                                </div>
                                <div class="mb-3">
                                    <input type="tel" class="form-control custom-placeholder" id="phone"
                                        name="phone" pattern="[0-9]{8,15}" placeholder="Phone"
                                        title="Phone number must be 8 to 15 digits long.">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control custom-placeholder" id="address"
                                        name="address" maxlength="200" placeholder="Address"></textarea>
                                </div>
                                <div class="mb-3">
                                    <input type="date" class="form-control custom-placeholder" id="dob"
                                        name="dob" placeholder="Date of Birth">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-placeholder" id="occupation"
                                        name="occupation" pattern="[A-Za-z ]+" maxlength="50" placeholder="Occupation">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control custom-placeholder" id="health_info"
                                        name="health_info" placeholder="Health Information"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="subscription_type" class="form-label">Subscription Type</label>
                                    <select class="form-select" id="subscription_type" name="subscription_type">
                                        <option value="annual">Annual Subscription ($700)</option>
                                        <option value="6_month">6 Months Subscription ($360)</option>
                                        <option value="monthly">Monthly Subscription ($60)</option>  
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger ">Join</button>
                    </form>
                    <p class="mt-3">Have account? <a href="#" class="text-danger" id="switchToLogin">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Flash Messages Modal -->
<div class="modal fade" id="flashMessagesModal" tabindex="-1" aria-labelledby="flashMessagesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog bg-black">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flashMessagesModalLabel">Flash Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Flash messages content goes here -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<script>   
    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
    
    window.onscroll = function() {
        myFunction();
        var content = document.querySelector('.content');
        if (navbar.classList.contains('sticky')) {
            content.style.paddingTop = navbar.offsetHeight + 'px';
        } else {
            content.style.paddingTop = '';
        }
    };
    
    window.onload = function() {
        var navbarHeight = document.getElementById('navbar').offsetHeight;
        document.querySelector('.content').style.paddingTop = navbarHeight + 'px';
    };

    window.onload = function() {
        {% if get_flashed_messages() %}
        var flashModal = new bootstrap.Modal(document.getElementById('flashMessagesModal'));
        flashModal.show();
        setTimeout(function() {
            flashModal.hide();
        }, 2000);
        {% endif %}
    };

    document.addEventListener('DOMContentLoaded', function() {
        var loginForm = document.getElementById('loginForm');
        var joinForm = document.getElementById('joinForm');
        var switchToJoin = document.getElementById('switchToJoin');
        var switchToLogin = document.getElementById('switchToLogin');
        switchToJoin.addEventListener('click', function() {
            loginForm.style.display = 'none';
            joinForm.style.display = 'block';
        });
        switchToLogin.addEventListener('click', function() {
            joinForm.style.display = 'none';
            loginForm.style.display = 'block';
        });
    });

    function hoverLink(element) {
        element.classList.remove('text-light');
        element.classList.add('text-light');
        element.classList.add('bg-black');
        element.classList.add('bold-text');
    }
    function unhoverLink(element) {
        element.classList.remove('text-light');
        element.classList.add('text-light');
        element.classList.remove('bold-text');
    }
    document.getElementById('switchToJoin').addEventListener('click', function() {
        document.getElementById('loginForm').style.display = 'none';
        document.getElementById('joinForm').style.display = 'block';
        document.getElementById('loginMessage').style.display = 'none';
        document.getElementById('joinMessage').style.display = 'block';
    });
    document.getElementById('switchToLogin').addEventListener('click', function() {
        document.getElementById('joinForm').style.display = 'none';
        document.getElementById('loginForm').style.display = 'block';
        document.getElementById('joinMessage').style.display = 'none';
        document.getElementById('loginMessage').style.display = 'block';
    });
</script>
{% block scripts %}
<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Magnific Popup JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}
</body>
</html>