{% extends 'base.html' %}

{% block title %}Member - Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-block"></div>
    <div class="greeting text-black">Hello,<span>{{ member_info.first_name | capitalize }} {{ member_info.last_name | capitalize }}</span>!
        <p>User Type: {{ session['UserType'] | capitalize }}</p>
        <p>Membership Expire Date: {{ membership_info.end_date | formatdate }}</p>
    </div>

    <div class="content-wrapper">
        <div class="da-left-column">
            <div class="da-small-block">
                <h2>Tools</h2>
                <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Management Buttons">
                    <!-- <button class="btn btn-primary">View Class</button> -->
                    <button class="btn btn-primary">View Instructors</button>
                    <button class="btn btn-primary">Book Class</button>
                    <button class="btn btn-primary">Book Lesson</button>
                    <button class="btn btn-primary">Manage Booking</button>
                    <a href="{{ url_for('view_membership') }}" class="btn btn-primary">My Membership</a>
                    <!-- name changed to my profile -->
                    <a href="{{ url_for('manage_profile') }}" class="btn btn-primary">My Profile</a>
                </div>
            </div>    

            <div class="da-small-block text-black">
                <h2>My Schedule</h2>
                <ul class="da-ul">
                    {% for booking in bookings %}
                    {% if booking.booking_status == 'confirmed' %}
                    <li class="da-li">
                        {{ booking.booking_date | formatdate }} - 
                        {{ format_time_slot(booking.start_time) }} to 
                        {{ format_time_slot(booking.end_time) }} - 
                        {% if booking.schedule_type == 'class' %}
                        {{ booking.class_name }}
                        {% elif booking.type == 'lesson' %}
                        {{ booking.lesson_name }}
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="da-small-block text-black">
                <h2>Notifications</h2>
                <ul class="da-ul">
                    <li class="da-li">.....</li>
                </ul>
            </div>

            <!-- <div class="da-small-block text-black">
                <h2><a href="/news" class="news-link">News</a></h2>
                <ul class="da-ul">
                    {% for news_item in news_info %}
                    <li class="da-li">{{ news_item.title }}</li>
                    {% endfor %}
                </ul>
            </div> -->
        </div> <!-- End of left-column -->

        <div class="right-column">
            <div class="da-large-block text-black">
                <h2>Timetable - Aerobics Classes</h2>
                <table class="timetable text-black">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                        {% for time, classes in timetable.items() %}
                        <tr>
                            <td>{{ time }}</td>
                            {% for day in days %}
                            <td>
                                {% set class_info = classes.get(day, {}) %}
                                <strong>{{ class_info.get('name', '') }}</strong><br>
                                {{ class_info.get('description', '') | title }}<br>
                                <span class="text-decoration-underline text-primary">{{ class_info.get('instructor', '') }}</span>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <th colspan="8" class="text-start">
                            *All classes have a maximum capacity of 15 people.
                            <br>
                            *All classes to be held in deep pool.
                        </th>
                    </tbody>
                </table>
            </div>
            <div class="da-large-block text-black">
                <h2>My Events</h2>
                <ul class="da-ul">
                    <li class="da-li">123</li>
                </ul>
            </div>
        </div> <!-- End of right-column -->
    </div> <!-- End of content-wrapper -->
</div> <!-- End of dashboard-container -->
{% endblock %}
