{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Welcome, {{ user_info.Username }}!</h2>
    <h3>Instructor Dashboard</h3>

    
    
    <!-- Manage Profile -->
    <div>
        <h4>Manage Profile</h4>
        <!-- Form to manage profile -->
    </div>

    <!-- Update Password -->
    <div>
        <h4>Update Password</h4>
        <!-- Form to update password -->
    </div>

    <!-- View Aqua Aerobics Timetable -->
    <div>
        <h4>Aqua Aerobics Timetable</h4>
        <!-- Display timetable with class details -->
    </div>

    <!-- Manage Lesson Schedule -->
    <div>
        <h4>Manage Lesson Schedule</h4>
        <!-- Options to view, add, edit, delete availability -->
    </div>

    <!-- View Lesson Bookings -->
    <div>
        <h4>View Lesson Bookings</h4>
        <!-- Display booked lessons with trainee information -->
    </div>

    <!-- Record Attendance -->
    <div>
        <h4>Record Attendance</h4>
        <!-- Form to record attendance -->
    </div>

    <!-- View News -->
    <div>
        <h4>View News</h4>
        <!-- Display latest news -->
    </div>
</div>
{% endblock %}
