{% extends 'base.html' %}

{% block content %}
<div class="vh-100 px-0 bg-black">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center text-light mt-4">Update {{ UserType }}</h2>
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                
                <form method="post" onsubmit="return validateForm()">
                    <div class="mb-3">
                        <label for="FirstName" class="form-label text-light">First Name</label>
                        <input type="text" class="form-control bg-black text-light" id="FirstName" name="FirstName" value="{{ user.FirstName }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="LastName" class="form-label text-light">Last Name</label>
                        <input type="text" class="form-control bg-black text-light" id="LastName" name="LastName" value="{{ user.LastName }}" required>
                    </div>
                    
                    {% if UserType == 'Mariner' %}
                        <div class="mb-3">
                            <label for="Birthdate" class="form-label text-light">Birthdate</label>
                            <input type="date" class="form-control bg-black text-light" id="Birthdate" name="Birthdate" value="{{ user.Birthdate }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="PhoneNumber" class="form-label text-light">Contact</label>
                            <input type="tel" class="form-control bg-black text-light" id="PhoneNumber" name="PhoneNumber" pattern="[0-9]{8,15}" value="{{ user.PhoneNumber }}" required title="Contact number must be 8 to 15 digits long.">
                        </div>
                    </div> <!-- Close the conditional block here -->
                    {% endif %}
                    
                    {% if UserType == 'Staff' %}
                            <div class="mb-3">
                            <label for="Contact" class="form-label text-light">Contact</label>
                            <input type="tel" class="form-control bg-black text-light" id="Contact" name="Contact" pattern="[0-9]{8,15}" value="{{ user.Contact }}" required title="Contact number must be 8 to 15 digits long.">
                        </div>
                    </div> <!-- Close the conditional block here -->
                    {% endif %}

                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <button type="submit" class="btn btn-primary text-light">Update {{ UserType }}</button>    
                        </div>  
                        {% if session['UserType'] in ['Admin'] %}
                            <div class="col-md-4 mb-2">
                                <a href="{{ url_for('manage_user', UserType='Staff') }}" class="btn btn-secondary" style="width: 200px;">Manage Staff</a>
                            </div>  
                        {% endif %}
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
