{% extends 'base.html' %}

{% block title %}Welcome to Countryside Community Swimming Club{% endblock %}

{% block content %}

<!-- Fixed Header Image -->
<div class="header-image d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>A SWIM CLUB THAT COMES TO YOU.</h1>
      <p>THE BEST PLACE FOR FUN AND PLAY.</p>
      <a href="{{ url_for('about_us') }}" class="btn btn-primary">Contact Us to Book a Swim Activities</a>
    </div>
  </div>
  
<div class="container mt-5 mb-5 text-black">
  <h1>Welcome to Countryside Community Swimming Club</h1>
  <p>Our club is a community swimming club that offers a range of aerobics classes and one-on-one lessons for all ages and abilities.</p>
</div>
  
<!-- Introduction and Carousel -->
<div class="container mt-4">
  <!-- Introduction -->
  <div class="row">
    <div class="container-body col-lg-12">
      <div class="heading">
        <h2>Our Club</h2>
      </div>
      <div class="intro-text text-black">
        <p>Welcome to our swimming club, where we offer a variety of activities for all ages and abilities. Our range of services includes one-on-one swimming lessons and dynamic group aerobics classes, ensuring there's something for everyone.</p>
        <p>Our current aerobics classes offering: Zumba, Aqua Fit, low-impact sessions, and special mums and babies classes, among others. Each class is designed to offer a unique and enjoyable way to stay fit and healthy.</p>
        <p>Our mission is to providing a safe and welcoming environment for everyone to learn to swim and have fun. We invite you to join our community and experience the joy of swimming.</p>
        <p>We are excited to announce that our club is now accepting new bookings. Our schdule are open from 6 AM to 8 PM, seven days a week, throughout the year, with the exception of Christmas Day and Boxing Day.</p>
        <p>Our membership is open to all, and we offer a range of packages to suit your needs. Annually: 700$, Monthly: 60$.</p>
        <p>Don't miss out on the chance to be part of our swimming family. Come and dive into the fun!</p>
      </div>
      <div id="carouselExampleControls" class="image-slide carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='homepage/istock-157732856_web.jpg') }}" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='homepage/YMCAWaterExercise_480px.jpg') }}" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='homepage/istock-21312ddf.jpg') }}" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 text-black">
  <h2>Timetable - Aerobics Classes</h2>
  <table class="timetable text-black">
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      {% set days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
      {% for time, classes in timetable.items() %}
      <tr>
        <td>{{ time }}</td>
        {% for day in days %}
        <td>
          {% set class_info = classes.get(day, {}) %}
          <strong>{{ class_info.get('name', '') }}</strong><br>
          {{ class_info.get('description', '') | title }}<br>
          <span class="text-decoration-underline text-primary">{{ class_info.get('instructor', '') }}</span>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      <th colspan="8" class="text-start">
        *All classes have a maximum capacity of 15 people.
        <br>
        *All classes to be held in deep pool.
      </th>
    </tbody>
  </table>
</div>


<div class="section-block"></div>

<div class="container mt-5 text-black">
  <h2>Our Instructors</h2>
  <div class="row">
    {% for instructor in instructor %}
    <div class="col-md-4 mb-1">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename='instructor/' + instructor['image_profile']) }}" alt="image" style="width:300px">
          </div>
          <div class="flip-card-back">
            <h2>{{ instructor['first_name'] }} {{ instructor['last_name'] }}</h2>
            <p>{{ instructor['bio'] }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>>

<div class="section-block"></div>
  
<div class="container section-content mt-4">
  <img src="{{ url_for('static', filename='homepage/shutterstock_487096795.jpg') }}" class="img-fluid section-content img" alt="Responsive image">
  <div class="section-text text-black">
      <p> "The instructor was very friendly and professional. I would recommend this club to anyone who wants to learn to swim." - Linda Doe, 2021</p>
      <p> "I am very enjoyable here with my friends." - Lliy Lee, 2022 </p>
      <p> "All staff are very kind." - Jane Smith, 2022 </p>
  </div>
</div>
  
{% include('footer.html') %}

{% endblock %}
