{% extends 'base.html' %}

{% block title %}Welcome to Countryside Community Swimming Club{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to Countryside Community Swimming Club</h1>
        <p>Our club is a community swimming club that offers a range of swimming lessons for all ages and abilities. We are a friendly club and welcome all new members. Our club is based in the heart of the countryside and we have a range of facilities including a 25m indoor pool, a sauna and a steam room. We also have a fully equipped gym and a cafe. Our club is open 7 days a week and we have a range of membership options available. We also offer a range of social events and activities for our members. We look forward to welcoming you to our club.</p>
    </div> 

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Gallery</h1>
      <!-- Your existing welcome message and login buttons code here -->
  </div>
  
  <!-- Image Gallery -->
  <div class="row">
      <div class="col-md-4">
          <a href="{{ url_for('static', filename='homepage/istock-157732856_web.jpg') }}" class="popup-link">
              <img src="{{ url_for('static', filename='homepage/istock-157732856_web.jpg') }}" class="img-fluid mb-4" alt="1">
          </a>
      </div>
      <div class="col-md-4">
          <a href="{{ url_for('static', filename='homepage/istockphoto-1167733673-612x612.jpg') }}" class="popup-link">
              <img src="{{ url_for('static', filename='homepage/istockphoto-1167733673-612x612.jpg') }}" class="img-fluid mb-4" alt="2">
          </a>
      </div>
      <div class="col-md-4">
          <a href="{{ url_for('static', filename='homepage/istock-21312ddf.jpg') }}" class="popup-link">
              <img src="{{ url_for('static', filename='homepage/istock-21312ddf.jpg') }}" class="img-fluid mb-4" alt="3">
          </a>
      </div>
  </div>
  <!-- Add your update here -->
  <div class="container">
      <h2>Updates</h2>
      <p>Here are the latest updates from our club:</p>
      <ul>
          <li>New swimming lesson schedules for all levels.</li>
          <li>Introduction of aqua aerobics classes.</li>
          <li>Special discounts for members on cafe purchases.</li>
      </ul>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $('.popup-link').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });
</script>
{% endblock %}

