{% extends 'base.html' %}

{% block content %}
<div class="vh-100 px-0 bg-black">
 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center text-light">Manage Profile</h2>
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                
                <form method="post" onsubmit="return validateForm()">
   
                    <!-- Profile Update Form -->
                    <div class="profile-update-form mt-4 text-light">
                        <h3>Update Your Information</h3>
                    
                        {% if session['UserType'] == 'member' %}
                            <form method="post" onsubmit="return validateForm()" action="{{ url_for('manage_profile') }}"> 
                                <!-- Name Field -->
                                <div class="mb-3 row text-light">
                                    <label class="col-sm-6 col-form-label text-light">First Name: </label>
                                    <div class="col-sm-6 text-light">
                                        <input type="text" class="form-control text-light bg-black" id="First_name" name="First_name" value="{{ profile_info.first_name }}" required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Last Name: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control text-light bg-black" id="Last_name" name="Last_name" value="{{ profile_info.last_name }}" required>
                                    </div>
                                </div>
                                
                            
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Phone: </label>
                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control text-light bg-black" id="phone" name="phone" pattern="[0-9]{8,15}" value="{{ profile_info.phone }}" required title="Phone number must be 8 to 15 digits long.">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Title: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control text-light bg-black" id="title" name="title" value="{{ profile_info.title }}" required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Email: </label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control text-light bg-black" id="email" name="email" value="{{ profile_info.email }}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Health Information: </label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control text-light bg-black" id="health_info" name="health_info">{{ profile_info.health_info }}</textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Address: </label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control text-light bg-black" id="address" name="address">{{ profile_info.address }}</textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Date of Birth: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control text-light bg-black" id="dob" name="dob" value="{{ profile_info.dob }}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Occupation: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control text-light bg-black" id="occupation" name="occupation" value="{{ profile_info.occupation }}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mt-3 col-md-3">
                                        <button type="submit" class="btn btn-outline-light me-2">Update Profile</button>
                                    </div>
                                    <div class="mt-3 col-md-3">
                                        <a href="{{ url_for('change_password') }}" class="btn btn-danger me-2">Change Password</a>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    
                        {% if session['UserType'] in ['manager', 'instructor'] %}
                            <form method="post" onsubmit="return validateForm()" action="{{ url_for('manage_profile') }}"  enctype="multipart/form-data" required> 
                                <!-- Name Field -->
                                <div class="mb-3 row text-light">
                                    <label class="col-sm-6 col-form-label text-light">First Name: </label>
                                    <div class="col-sm-6 text-light">
                                        <input type="text" class="form-control text-light bg-black" id="First_name" name="First_name" value="{{ profile_info.first_name }}" required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Last Name: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control text-light bg-black" id="Last_name" name="Last_name" value="{{ profile_info.last_name }}" required>
                                    </div>
                                </div>
                                
                                
                                {% if session['UserType'] == 'instructor' %}
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 col-form-label text-light">Position: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control text-light bg-black" id="Position" name="Position" value="{{ profile_info.position }}" required>
                                        </div>
                                    </div>
                                {% endif %}

                                
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Phone: </label>
                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control text-light bg-black" id="phone" name="phone" pattern="[0-9]{8,15}" value="{{ profile_info.phone }}" required title="Phone number must be 8 to 15 digits long.">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Email: </label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control text-light bg-black" id="email" name="email" value="{{ profile_info.email }}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-6 col-form-label text-light">Profile Image: </label>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control text-light bg-black" id="profile_image" name="file">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="mt-3 col-md-3">
                                        <button type="submit" class="btn btn-outline-light me-2">Update Profile</button>
                                    </div>
                                    <div class="mt-3 col-md-3">
                                        <a href="{{ url_for('change_password') }}" class="btn btn-danger me-2">Change Password</a>
                                    </div>
                                </div>
                                
                            </form>
                        {% endif %}
                    
                    </div>
        
                </div>
        
            </div>
        
        </div>
    </div>
</div>
{% endblock %}
